/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-blue, 900);
$accent:  mat-palette($mat-light-blue, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
//font-family: $mat-font-family;
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
